.formControl {
    height: 40px;
    border: 1px solid #e3e5e5;
    border-radius: 3px;
    padding: 0px 10px;
    display: block;
    width: 100%;
    color: #72777a;
    outline: none;
}

.label {
    margin-bottom: 5px;
}
