$primary: #405175;
$darkPrimary: #001747;
$gray: #8c97ac;
$blue: #2d70fd;
$red: #ff6464;
$yellow: #ffd166;
$lightYellow: #ffc84a;
$green: #00d8a7;
$orange: #fe6b38;
$lightGray: #dddddd;
$border: #f6f9fb;
$divider: #f1f4f4;
$background: #fafbfc;
