.input {
    border: 1px solid #e3e5e5;
    border-radius: 3px;
    padding: 5px 10px;
    display: block;
    width: 100%;
    font-weight: 400;
    color: #72777a;
    box-sizing: border-box;
    outline: none;
    resize: none;
}
.label {
    margin-bottom: 5px;
}
